*
{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(177, 235, 250, 0.243), rgba(196, 229, 224, 0.976)), url(transaksibg.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar
{
    background: rgb(45, 163, 231);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: fff;
}
.menu-bar li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #0d76a3;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(45, 163, 231);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #34f8ff
}
.container {
    width: 360px;
    height: 200px;
    position: absolute;
    top: 300px; /* Mengatur bagian atas form box berada di tengah vertikal */
    left: 50%;
    transform: translate(-50%); /* Menggeser posisi form box ke tengah secara horizontal dan vertikal */
    background: rgba(255, 255, 255, 0.7); /* Ubah opacity ke nilai yang diinginkan */
    border-radius: 5px;
    overflow: hidden;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #2c2c2c; 
 }
 .container form{
     width: 280px;
     position: absolute;
     top: 50px;
     left: 40px;
     transition: 0.5s;
 }
 form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%; /* Mengisi lebar parent container */
    margin: 30px auto; /* Memberikan margin atas dan bawah */
    text-align: center;
    display: flex;
    justify-content: space-between;
}

form button{
    width: 120px;
    height: 40px;
    margin: 0 5px; /* Memberikan margin horizontal 5px antara tombol */
    background: linear-gradient(to right, #10e7ff, #06ffcd);
    border-radius: 30px;
    border: 0;
    outline: none;
    color : #fff;
    cursor: pointer;
}


