<html>
<head>
<title>Sign Up Berhasil</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_signup_berhasil.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <form>
            <h3>Sign Up Berhasil</h3>
            <h4>Ini adalah informasi akun Anda:</h4>
            <p>Nama Perusahaan: {{ company_name }}</p>
            <p>ID Perusahaan: {{ company_id }}</p>
            <p>Password: {{ password }}</p>
            <div class="btn-box">
                <button type="button" onclick="signin()">Sign in</button>
            </div>
        </form>
    </div>
    <script>
        function signin() {
            window.location.href = "/login"; // Redirect to the signup page
        }
    </script>
</body>
</html>
