<html>
<head>
<title>Sign In gagal</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_signin_gagal.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <form>
            <h3>Sign In Gagal</h3>
            <h4>Periksa Kembali Data Anda</h4>
            <div class="btn-box">
                <button type="button" onclick="tryAgain()">Coba Lagi</button>
            </div>
        </form>
    </div>
    <script>
        function tryAgain() {
            window.location.href = "/"; // Redirect to the signup page
        }
    </script>
</body>
</html>
