<html>
<head>
<title>Transaksi Beli</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_transaksi_beli.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-home"></i>home</a> <!-- Tautan ke dashboard -->
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Informasi Pengguna</a></li>
                        <li><a href="#">Unit PLTU</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Permintaan</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_permintaan') }}">Buat Permintaan</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Permintaan</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Penawaran</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_penawaran') }}">Buat Penawaran</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Penawaran</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Buat Transaksi</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buattransaksijual') }}">Transaksi Jual</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="{{ url_for('buattransaksibeli') }}">Transaksi Beli</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                    </ul>
                </div>
            </li> 
            <li><a href="#">Saldo</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Cek Saldo</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="{{ url_for('view_blockchain') }}">Blockchain</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
            <li><a href="#"><i class="fa fa-bell"></i>Notifikasi</a></li>
        </ul>
    </div>
    <div class="container">
        <form id="Form1">
            <h3>Informasi Umum Transaksi Beli</h3>
            <input type="text" placeholder="kode transaksi" required>
            <input type="tanggal_transaksi_beli" placeholder="tanggal transaksi beli" required>
            <input type="id_penjual" placeholder="id penjual" required>
            <input type="id_pembeli" placeholder="id pembeli" required>
            <div class="btn-box">
                <button type="button" id="Next1">Next</button>
            </div>
        </form>

        <form id="Form2">
            <h3>Informasi Detil Transaksi Jual</h3>
            <input type="jumlahKarbonMasuk" placeholder="Jumlah Karbon" required>
            <input type="satuanKarbonMasuk" placeholder="Satuan Karbon Keluar (CO2 e)" required>
            <input type="hargaBeli" placeholder="Harga Beli" required>
            <input type="satuanHargabeli" placeholder="Satuan Harga Beli" required>
            <div class="btn-box">
                <button type="button" id="previous1">Previous</button>
                <button type="button" id="Next2">Next</button>
            </div>
        </form>

        <form id="Form3">
            <h3>Keterangan Transaksi Beli</h3>
            <input type="approvalStatBeli" placeholder="Approval Status" required>
            <input type="approvalByBeli" placeholder="Approved by" required>
            <input type="id_permintaan" placeholder="id Permintaan" required>
            <input type="id_transaksiAwalJual" placeholder="id Transaksi Awal" >
            <div class="btn-box">
                <button type="button" id="previous2">Previous</button>
                <button type="button">Submit</button>
            </div>
        </form>
         <div class = "step-row">
            <div id="progress"></div>
            <div class="step-col"><small>Step 1</small></div>
            <div class="step-col"><small>Step 2</small></div>
            <div class="step-col"><small>Step 3</small></div>
         </div>

    </div>
    <script>
        var Form1 = document.getElementById("Form1");
        var Form2 = document.getElementById("Form2");
        var Form3 = document.getElementById("Form3");

        var Next1 = document.getElementById("Next1");
        var Next2 = document.getElementById("Next2");

        var previous1 = document.getElementById("previous1");
        var previous2 = document.getElementById("previous2");
        var progress = document.getElementById("progress");
    
        Next1.onclick = function(){
            Form1.style.left = "-450px";
            Form2.style.left = "40px";
            progress.style.width = "250px";
        }
    
        Next2.onclick = function(){
            Form2.style.left = "-450px";
            Form3.style.left = "40px";
            progress.style.width = "370px";
        }
    
       
        previous1.onclick = function(){
            Form2.style.left = "450px";
            Form1.style.left = "40px";
            progress.style.width = "90px";
        }
    
        previous2.onclick = function(){
            Form3.style.left = "450px";
            Form2.style.left = "40px";
            progress.style.width = "250px";
        }
    
    </script>    
</body>
</html>
