<html>
<head>
<title>Pembelian berhasil</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_view_blockchain.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-home"></i>home</a> <!-- Tautan ke dashboard -->
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Informasi Pengguna</a></li>
                        <li><a href="#">Unit PLTU</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Permintaan</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_permintaan') }}">Buat Permintaan</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Permintaan</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Penawaran</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_penawaran') }}">Buat Penawaran</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Penawaran</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Buat Transaksi</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buattransaksijual') }}">Transaksi Jual</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="{{ url_for('buattransaksibeli') }}">Transaksi Beli</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                    </ul>
                </div>
            </li> 
            <li><a href="#">Saldo</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Cek Saldo</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Blockhain</a></li>
            <li><a href="#"><i class="fa fa-bell"></i>Notifikasi</a></li>
        </ul>
    </div>
    <div class="container">
        <form>
            <h3>Blockchain</h3>
            </div>
        </form>
    </div>
</body>
</html>
